{% extends 'base.html.twig' %}

{% block title %}
    PhotoShow - {{'new_photos'|trans}}
{% endblock %}
{% block content %}
    <main>
        <article class="center-blok container">
            <header>
                <h1 class="text-center">
                    {{'new_photos'|trans}}
                </h1>
            </header>
            {% block gallery %}
                {% include 'photo/gallery.html.twig' %}
            {% endblock %}
        </article>
    </main>
{% endblock %}